rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Regla para la colección 'contacts': permite crear y leer documentos
    // solo si el usuario está autenticado
    match /contacts/{contactId} {
      allow create: if request.auth != null;
      allow read: if request.auth != null; // Añadimos la regla de lectura
      // Rules for update and delete if necessary
      allow update: if request.auth != null;
      allow delete: if request.auth != null;
    }

    // Regla para la colección 'properties': permite crear y leer documentos
    // solo si el usuario está autenticado
    match /properties/{propertyId} {
      allow create: if request.auth != null;
      allow read: if request.auth != null;
      // Rules for update and delete if necessary
      allow update: if request.auth != null;
      allow delete: if request.auth != null;
    }
    // Mantener una regla para otras colecciones si las tienes,
    // o una regla por defecto más restrictiva
    match /{document=**} {
       // Por defecto, denegar todas las operaciones a menos que se especifique lo contrario
       allow read, write: if false;
    }
  }
}
